<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @director.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @director.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @director.age %>
</p>

<p>
  <b>Country:</b>
  <%= @director.country %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
